<td class="control-group name">
  <input type="text" name="name" value="{{name}}" />
</td>

<td class="control-group description">
  <input type="text" name="description" value="{{description}}" />
</td>

<td class="control-group cost">
  <input type="text" name="cost" value="{{cost}}" />
</td>

<td class="actions">
  <button class="save btn btn-primary">Save</button>
</td>
